<main>
    <section class="center-block">
        <section class="first-part">
            <article class="r1_2_c1_2"><p>Conectando corazones, superando distancias.</p></article>
            <article class="r1_c3"></article>
    
                <article class="r1_2_c5_first">
                    <p><i>"El amor no conoce barreras. Salta obstáculos, vallas y atraviesa distancias para llegar a su destino lleno de esperanza."</i></p>
                    <p><b>Maya Angelou</b></p>
                </article>
                
                <article class="r1_2_c5_second"></article>
        </section>
        <section class="second-part">
                <article class="middle-cont_r1_2"></article>
                <article class="middle-cont_r3_4">
                    <h5>"Fortalece tu relación a pesar de la distancia."</h5>
                    <p>En LoveBridge, transformamos la distancia en una oportunidad para conectar. Descubre herramientas como juegos personalizados, rituales diarios y mensajes que fortalecen tu amor cada día."</p>
                    <button class="register-button">Más Información</button>
                </article>
            </section>
        </section>
        <section class="third-part">

        </section>
    </section>
</main>
