<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoveBridge</title>
    <link rel="stylesheet" type="text/css" href="/styles/pages/createPost.css">
</head>
<body>
    <%- include("components/header/header.html") %>
    <%- include("components/nav/nav.html") %>
    <main class="center-block">
        <h2 class="r1">Create a new post</h2>
        <form action="/submitPost" method="POST">
            <article class="r2">
                <input name="fTitle" placeholder="Titulo">
            </article>
            <article class="r3">
                <input name="fSubtitle" placeholder="Subtitulo">
            </article>
            <article class="r4">
                <textarea name="fContent" placeholder="Contenido"></textarea>
            </article>
            <article class="buttons">
                <button type="submit" class="btn-send">Enviar</button>
                <button class="btn-cancel">Cancelar</button>
            </article>
        </form>
    </main>


    <%- include("components/footer/footer.html") %>


</body>
</html>