<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoveBridge</title>
    <link rel="stylesheet" type="text/css" href="/styles/pages/homeGrid.css">
</head>
<body>
    <%- include("components/header/header.html") %>
    <%- include("components/nav/nav.html") %>
    <%- include("components/homeGrid/main.html") %>
    <%- include("components/footer/footer.html") %>
</body>
</html>
